<!DOCTYPE html>
<html>
<head>
    <title>Fitness World</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-image: url('/static/images/background.jpg');
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body style="background-image: url('/static/images/background.png'); background-size: cover; background-position: center;" class="text-gray-800"> <!-- Changed text-gray to text-gray-800 -->
    <section class="container mx-auto mt-8 px-4" style="background-image: url('/static/images/calculatePack.png'); background-size: cover; background-position: center;">
        <div class="grid grid-cols-2 items-center gap-4">
            
            <div class="text-right">
                <h2 class="text-3xl font-bold mb-4 text-white">Fee Calculator</h2>
                <a href="/fee_calculator" class="text-white font-bold py-2 px-4 rounded bg-blue-500 hover:bg-blue-700">Calculate Your Package</a> <!-- Added bg-blue-500 and hover:bg-blue-700 for better button styling -->
            </div>
        </div>
    </section>

</body>
</html>


